<div class="col-md-12" ng-controller="carousalCtrl">
                   <!--  <div id="main-slider">
                        <div class="item" ng-repeat="image in images">
                            <img src="{{image.name}}" alt="" class="img-responsive">
                        </div>
                      </div> -->
					
					
      <section>
        <div id="divid" class="">
          <ul id="ulid" class="">
				<li ng-repeat="image in images">
  	    	    <img src="{{image.location}}" />
  	    		</li>
			</ul>
        </div>
      </section>
   
                    <!-- /#main-slider -->
                </div>