  <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#/">Home</a>
                        </li>
                        <li>{{sareeCategory}}</li>
                    </ul>
                </div>
  <div class="col-md-4 col-sm-6" ng-repeat="item in sareesdata">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="#detail/{{item.id}}/{{item.category}}">
                                                <img ng-src="{{item.location}}" alt=""  style="width:200px;height:150px;" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="#detail/{{item.id}}/{{item.category}}">
                                                <img ng-src="{{item.location}}" alt=""   style="width:200px;height:150px;" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="#detail/{{item.id}}/{{item.category}}" class="invisible">
                                    <img ng-src="{{item.location}}" alt="" style="width:200px;height:150px;" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="#detail/{{item.id}}/{{item.category}}">{{item.name}}</a></h3>
                                    <p class="price"><del>{{item.cost}}</del> {{item.cost-300}}</p>
                                    <p class="buttons">
                                        <a href="#detail/{{item.id}}/{{item.category}}" class="btn btn-default">View detail</a>
                                        <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>
                                </div>
                                <!-- /.text -->

                                <div class="ribbon sale">
                                    <div class="theribbon">SALE</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->

                                
                            </div>
                            <!-- /.product -->
                        </div>                 
<!-- <table>
<tr>
<td ng-repeat="item in mobilesdata"><img src="{{item.name}}" class="image-responsive" width="200" height="150">
</td>
</tr>
</table> -->

             