<div ng-controller="myController">
<div class="col-md-6">
                    <div class="box">
                        <h1>New account</h1>

                        <p class="lead">Not our registered customer yet?</p>
                        <p>With registration with us new world of fashion, fantastic discounts and much more opens to you! The whole process will not take you more than a minute!</p>
                        <p class="text-muted">If you have any questions, please feel free to <a href="#">contact us</a>, our customer service center is working for you 24/7.</p>

                        <hr>

                        <form name="myform123" method="post">
                            <div class="form-group">
                            <label for="name">Name</label>
                                <input name="name" type="text" class="form-control" id="name-modal" placeholder="Enter name" ng-model="contact.name" required>
                            <span ng-show="myform123.name.$touched && myform123.name.$invalid">Name is required.</span>
                            </div>
                            <div class="form-group">
                            <label for="name">Email</label>
                                <input name="email" type="text" class="form-control" id="email-modal" placeholder="Enter email"  ng-model="contact.email" required>
                            <span ng-show="myform123.email.$touched && myform123.email.$invalid">Email is required.</span>
                            </div>
                            <div class="form-group">
                            <label for="name">Password</label>
                               <input name="pwd" type="password" class="form-control" id="password-modal" ng-minlength=6 ng-maxlength=10 placeholder="Enter password" ng-model="contact.pwd" required>
                            <span ng-show="myform123.pwd.$touched && myform123.pwd.$invalid">Password is required.</span>
                            </div>
                            <div class="form-group">
                            <label for="name">Address</label>
                            <textarea name="address" cols="30" placeholder="Enter Adress" id="address-model" ng-model="contact.address" required>
                              
                            </textarea>
                               
                            <span ng-show="myform123.address.$touched && myform123.address.$invalid">Adress is required.</span>
                            </div>
                            <div class="form-group">
                            <label for="name">Phone Number</label>
                               <input name="phonenumber" type="text" class="form-control" id="phonenumber-modal"  placeholder="Enter phonenumber" ng-model="contact.phonenumber" required>
                            <span ng-show="myform123.phonenumber.$touched && myform123.phonenumber.$invalid">Password is required.</span>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" ng-click="AddContact(myform123)" ng-disabled="myform123.$invalid"><i class="fa fa-user-md"></i> Register</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box">
                        <h1>Login</h1>
<span id="errorid" style="display:none">Login redentials wrong</span>
                        <p class="lead">Already our customer?</p>
                        <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
                            mi vitae est. Mauris placerat eleifend leo.</p>

                        <hr>

                         <form name="myform">
                            <div class="form-group">
                                <input name="email" type="text" class="form-control" id="email-modal" placeholder="Enter email" ng-model="login.email" required>
                            <span ng-show="myform.email.$touched && myform.email.$invalid">Email is required.</span>
                            </div>
                            <div class="form-group">
                               <input name="pwd" type="password" class="form-control" id="password-modal" placeholder="Enter password" ng-model="login.pwd" required>
                            <span ng-show="myform.pwd.$touched && myform.pwd.$invalid">Password is required.</span>
                            </div>

                            <p class="text-center">
                                <button class="btn btn-primary" ng-click="customerlogin()" ng-disabled="myform.$invalid"><i class="fa fa-sign-in"></i> Log in</button>
                            </p>

                        </form>
                    </div>
                </div>


            </div>
            </div>