 
  <div class="col-md-4 col-sm-6" ng-repeat="item in sareesdata">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="detail.html">
                                                <img src="{{item.location}}" alt=""  style="width:200px;height:150px;" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="detail.html">
                                                <img src="{{item.location}}" alt=""   style="width:200px;height:150px;" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="detail.html" class="invisible">
                                    <img src="{{item.location}}" alt="" style="width:200px;height:150px;" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="detail.html">{{item.name}}</a></h3>
                                    <p class="price"><del>{{item.price-300}}</del> {{item.price}}</p>
                                    <p class="buttons">
                                        <a href="detail.html" class="btn btn-default">View detail</a>
                                        <a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>
                                </div>
                                <!-- /.text -->

                                <div class="ribbon sale">
                                    <div class="theribbon">SALE</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->

                                <div class="ribbon new">
                                    <div class="theribbon">NEW</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->

                                <div class="ribbon gift">
                                    <div class="theribbon">GIFT</div>
                                    <div class="ribbon-background"></div>
                                </div>
                                <!-- /.ribbon -->
                            </div>
                            <!-- /.product -->
                        </div>                 
<!-- <table>
<tr>
<td ng-repeat="item in mobilesdata"><img src="{{item.name}}" class="image-responsive" width="200" height="150">
</td>
</tr>
</table> -->

             